<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Welcome to E-Learners</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif, Tahoma;">
    <div class="container p-5">
        <div class="row p-5">
            <h1 class="text-center">Welcome to E-Learners</h1> <br>
        </div>
        <div class="row p-5">
            <center>
                
                    <p class="text-center">Join as</p> <br>
                    <a href="{% url 'App_Login:instructor_login' %}" class="btn btn-info btn-md">Instructor</a> <br>
                    or <br>
                    <a href="{% url 'App_Login:learner_login' %}" class="btn btn-primary btn-md">Learner</a>
                
            </center>
        </div>
    </div>
</body>
</html>