{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% block title_block %} {{question}} {% endblock %}
{% block body_block %}

<h3 class="text-center">Help Forum</h3>

<h4>Question: {{question}} </h4>
{{question.question_reply.count}} replied
<div class="row">
    <div class="col-sm-6">
        <h5>Replies</h5>
        {% for reply in question.question_reply.all %}
        <p>
            @{{reply.user}} <br>
            {{reply}}
        </p>
        {% endfor %}
    </div>
    <div class="col-sm-6">
        <form action="" method="POST">
            {{form|crispy}}
            {% csrf_token %}
            <button type="submit" class="btn btn-info btn-sm">Reply</button>
        </form>
    </div>
</div>

{% endblock %}